<div clas="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}} " placeholder="first Name" name="first_name">
  <label for="floatingInput">First Name</label>
</div>
</div>
<div clas="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="Last Name" name="last_name">
  <label for="floatingInput">Last Name</label>
</div>
</div>
<div clas="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@gamil.com" name="email">
  <label for="floatingInput">Email</label>
</div>
</div> 
<div clas="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
  <label for="floatingInput">Phone No</label>
</div>
</div>
<div clas="col-12">
<div class="form-floating mb-3">
  <textarea class="form-control" id="floatingInput" placeholder="Address" name="address" style="height:200px;">{{this.address}}</textarea>
  <label for="floatingInput">Address</label>
</div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>